<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Agregando permisos para poder usar las funcionalidades necesarias -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_DOWNLOADS" />


    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pronacej"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".OpcionesCjdr.TratamientoDiferenciadoCjdrActivity"
            android:exported="false" />
        <activity
            android:name=".ResultadosSoa.ResultadoReporteDiarioSoa"
            android:exported="false" />
        <activity
            android:name=".FiltrosCjdr.FiltroEdadCjdr"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadoEdadCjdr"
            android:exported="false" />

        <activity
            android:name=".FiltrosSoa.FiltroEdadSoa"
            android:exported="false" />
        <activity
            android:name=".ResultadosSoa.ResultadoEdadSoa"
            android:exported="false" />
        <activity
            android:name=".FiltrosCjdr.FiltroSimpleCjdr"
            android:exported="false" />
        <activity
            android:name=".ActivitysPadres.OpcionPronacejDigital"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadoReporteDiarioCJdr"
            android:exported="false" />
        <activity
            android:name=".FiltrosSoa.FiltroSimpleSoa"
            android:exported="false" />

        <activity
            android:name=".OpcionesCjdr.InsercionEducativaCjdrActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionesCjdr.InsercionLaboralCjdrActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionesCjdr.InfraccionesCometidasCjdrActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitysPadres.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionesCjdr.PoblacionCjdrActivity"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadosTotalPoblacionCjdr"
            android:exported="false" />
        <activity
            android:name=".OpcionesSoa.PoblacionSoaActivity"
            android:exported="false" />

        <activity
            android:name=".OpcionesSoa.TratamientoDiferenciadoSoaActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionesSoa.InsercionEducativaSoaActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionesSoa.InsercionLaboralSoaActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionesSoa.InfraccionesCometidasSoaActivity"
            android:exported="false" />
        <activity
            android:name=".ResultadosSoa.ResultadosSituacionJuridicaIngresoSoa"
            android:exported="false" />
        <activity
            android:name=".ResultadosSoa.ResultadosSexoSoa"
            android:exported="false" />
        <activity
            android:name=".ResultadosSoa.ResultadosEstadoCivilSoa"
            android:exported="false" />
        <activity
            android:name=".ResultadosSoa.ResultadosDelitoSoa"
            android:exported="false" />
        <activity
            android:name=".ResultadosSoa.ResultadosSituacionEducativaActualSoa"
            android:exported="false" />
        <activity
            android:name=".ResultadosSoa.ResultadosSituacionLaboralActualSoa"
            android:exported="false" />
        <activity
            android:name=".ResultadosSoa.ResultadosEstadoSoa"
            android:exported="false" />



        <activity
            android:name=".ResultadosSoa.ResultadosSituacionJuridicaActualSoa"
            android:exported="false" />

        <activity
            android:name=".ResultadosCjrd.ResultadosSituacionJuridicaCjdr"
            android:exported="false" />

        <activity
            android:name=".ResultadosCjrd.ResultadosEstadoCjrd"
            android:exported="false" />

        <activity
            android:name=".ResultadosCjrd.ResultadosEstadoCivilCjdr"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadosSexoCjrd"
            android:exported="false" />
        <activity
            android:name=".ActivitysPadres.MenuCjdrActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitysPadres.CategoriaMenu"
            android:exported="false" />

        <activity android:name=".ActivitysPadres.MenuSoaActivity"
            android:exported="false" />

        <activity
            android:name=".ActivitysPadres.OpcionesCentrosJuvenilesActivity"
            android:exported="false" />
        <activity
            android:name=".FiltroCjdrTotal.FiltroEducativaTotalCjdr"
            android:exported="false" />

        <activity
            android:name=".FiltroCjdrTotal.FiltroInfraccionTotalCjdr"
            android:exported="false" />

        <activity
            android:name=".FiltroCjdrTotal.FiltroLaboralTotalCjdr"
            android:exported="false" />

        <activity
            android:name=".FiltroCjdrTotal.FiltroPoblacionTotalCjdr"
            android:exported="false" />

        <activity
            android:name=".FiltroCjdrTotal.FiltroTratamientoTotalCjdr"
            android:exported="false" />
        <activity
            android:name=".FiltroSoaTotal.FiltroEducativaTotalSoa"
            android:exported="false" />
        <activity
            android:name=".FiltroSoaTotal.FiltroInfraccionTotalSoa"
            android:exported="false" />
        <activity
            android:name=".FiltroSoaTotal.FiltroLaboralTotalSoa"
            android:exported="false" />
        <activity
            android:name=".FiltroSoaTotal.FiltroTratamientoTotalSoa"
            android:exported="false" />
        <activity
            android:name=".FiltroSoaTotal.FiltroPoblacionTotalSoa"
            android:exported="false" />

        <activity
            android:name=".ActivitysPadres.MenuTotalesSoaActivity"
            android:exported="false" />

        <activity
            android:name=".ActivitysPadres.MenuTotalesCjdrActivity"
            android:exported="false" />
        <activity
            android:name=".FiltrosCjdr.FiltroLaboralCjdr"
            android:exported="false" />
        <activity
            android:name=".FiltrosCjdr.FiltroEducativaCjdr"
            android:exported="false" />
        <activity
            android:name=".FiltrosCjdr.FiltroTratamientoCjdr"
            android:exported="false" />
        <activity
            android:name=".FiltrosCjdr.FiltroInfraccionCjdr"
            android:exported="false" />
        <activity
            android:name=".FiltrosCjdr.FiltroPoblacionCjdr"
            android:exported="false" />
        <activity
            android:name=".FiltrosSoa.FiltroInfraccionSoa"
            android:exported="false" />
        <activity
            android:name=".FiltrosSoa.FiltroTratamientoSoa"
            android:exported="false" />
        <activity
            android:name=".FiltrosSoa.FiltroPoblacionSoa"
            android:exported="false" />
        <activity
            android:name=".FiltrosSoa.FiltroLaboralSoa"
            android:exported="false" />
        <activity
            android:name=".FiltrosSoa.FiltroEducativaSoa"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadosProgramasCjdr"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadoJusticiaTerapeuticaCjdr"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadoAgresoresSexualesCjdr"
            android:exported="false" />


        <activity
            android:name=".ResultadosSoa.ResultadosSeguroMedicoSoa"
            android:exported="false" />

        <activity
            android:name=".ResultadosCjrd.ResultadosDelitoCjdr"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadosSituacionJuridicaActualCjdr"
            android:exported="false" />

        <activity
            android:name=".ResultadosCjrd.ResultadosSituacionJuridicaIngresoCjdr"
            android:exported="false" />

        <activity
            android:name=".ResultadosCjrd.ResultadosSaludMentalCjdr"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadoAdnCjdr"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadoIntervencionTerapeuticaCjdr"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadosFirmesAdelanteCjdr"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadosSituacionEducativaActualCjdr"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadoReinsercionEducativaCjdr"
            android:exported="false" />
        <activity
            android:name=".ResultadosCjrd.ResultadoCentroEducativoCjdr"
            android:exported="false" />

        <activity
            android:name=".ResultadosSoa.ResultadoAdnSoa"
            android:exported="false" />

        <activity
            android:name=".ResultadosSoa.ResultadoAgresoresSexualesSoa"
            android:exported="false" />

        <activity
            android:name=".ResultadosSoa.ResultadoCentroEducativoSoa"
            android:exported="false" />

        <activity
            android:name=".ResultadosSoa.ResultadoIntervencionTerapeuticaSoa"
            android:exported="false" />

        <activity
            android:name=".ResultadosSoa.ResultadoJusticiaTerapeuticaSoa"
            android:exported="false" />

        <activity
            android:name=".ResultadosSoa.ResultadoReinsercionEducativaSoa"
            android:exported="false" />

        <activity
            android:name=".ResultadosSoa.ResultadosFirmesAdelanteSoa"
            android:exported="false" />
        <activity
            android:name=".ResultadosSoa.ResultadosProgramasSoa"
            android:exported="false" />
        <activity
            android:name=".ResultadosSoa.ResultadosSaludMentalSoa"
            android:exported="false" />

        <activity
            android:name=".ResultadosSoa.ResultadosSituacionJuridicaSoa"
            android:exported="false" />
        <activity
            android:name=".ResultadosSoa.ResultadosTotalPoblacionSoa"
            android:exported="false" />

        <activity
            android:name=".ResultadosCjrd.ResultadosSituacionLaboralActualCjdr"
            android:exported="false" />

        <activity
            android:name=".ResultadosCjrd.ResultadosSeguroMedicoCjdr"
            android:exported="false" />


        <activity
            android:name=".ActivitysPadres.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>